
.wrapper{
    position:fixed;
    width: 100%;
    height: 100%;
}

.card {
    
    margin: 20px 10px 0px 10px;
}
.card .card-body {
    color: white;
   background-color: #36393F;
   
}
.card .card-header {
    color: white;
    background-color: #36393F;
 }

.news_cards{
    background-color: #202225;
    padding: 10px 10px 10px 10px;
    position: absolute;
    overflow-y:scroll;
    width: 100%;
    height: 82%;
    
}

.card a{
  color: #FAF3F3;
}


.card a:hover{
  color: #34656D;
}


.pane-header ul li a:hover{
  color: #34656D;
}
.pane-header ul li a{
  color: #FAF3F3;
}

.wrapper .pane-header .nav{
  background-color:#202225 ;
}


.card img{
  border: black;
  background-size: cover;
}
.pane-header nav{
    background-color:  #141518;
    
}


.pane-header{

    margin: 0 5 0 5;
}
::-webkit-scrollbar {
    width: 10px;
    border-radius: 50px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #202225;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }


  .desc{
    display: none;
  }

 .card-body .rl-btn{
    display: none;
  }



 /* Popup container */
 .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 